<%- include('partials/header') -%>

<div class="container mt-5">
    <%- include('partials/messages') -%>
    <table class="table table-bordered" id="dataTable" width="70%" cellspacing="0" >
        <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>                
            </tr>
        </thead>
        <tbody>
            <% todos.forEach((todo)=> { %>
                    <tr>
                        <td><%= todo.name %></td>
                        <td><%= todo.status %></td>                        
                        <td>
                            <a class="btn btn-primary" href="/edit/<%= todo.id %>">Edit</a>
                            <form style="display: inline;" action="/delete/<%= todo.id %>?_method=DELETE" method="POST">
                                <input type="hidden" name="_method" value="DELETE">
                                <button style="cursor: pointer;" type="submit" class="btn btn-danger ml-2">Delete</button>
                            </form>
                        </td>
                    </tr>
               <% }) %>
                

            </tbody>
        </table>
    </div>
<%- include('partials/footer') -%>